.app.dark {
    background-color: #111;
    color: rgb(255, 255, 255);

    .chartGrid {
        stroke: rgba(228, 228, 228, 0.219);

    }
    .title{
        color: white;
    }
    .widgets{
        .title{
            color: white;
        }
    }
    .charts{
        .bottom{
            .title,.ammount,.desc{
                color: white;
            }
        }
    }
    .summary{
        .itemTitle{
            color: rgb(236, 229, 229) !important;
        }
    }

    .listContainer{
        .MuiTable-root{
            .MuiTableCell-root{
                color: rgb(221, 208, 208);
            }
        }
    }

    .sidebar{
        .top{
            .logo{
                color: rgb(242, 235, 235) !important;
            }
        }
        .center{
            .title{
                color: rgb(242, 235, 235) !important;
            }
            li{
                .MuiSvgIcon-root{
                    color: rgb(255, 255, 255);
                }
                span{
                    color: rgb(255, 255, 255) !important;
                }
            }
        }
    }

    .table {
        background-color: rgb(255, 255, 255);
        // border-bottom: 1px solid rgba(72, 0, 255, 0.1) !important;
        .css-11xur9t-MuiPaper-root-MuiTableContainer-root{
            background-color: none ;
            border: none;
        }
    
        .tableCell {
            background-color: #111 !important;
            color: gray;
            border:1px solid rgba(224, 224, 224,0.2) !important;
            
        }
    }

    .navbar {
        color: #ffffff;
        border-color: #333;

        .search {
            border-color: rgb(164, 160, 160);
        }

        .dropdown-menu{
            background-color: black;
            li{
                .dropdown-item{
                    color: rgb(255, 255, 255) !important;
                }
            }
            
        }
        
    }

    .sidebar {
        background-color: #111;
        border-color: #333;

        .top {
            .logo {
                color: #999;
            }
        }

        hr {
            border-color: #333;
        }

        ul {
            li {
                &:hover {
                    background-color: #333;
                }

                .icon {
                    color: #999;
                }
            }
        }
    }

    .datatable {
        .datatableTitle{
            color: rgb(255, 255, 255);
        }
        .datagrid {
            color: rgb(210, 203, 203);
            border: none;
            // background-color: red;

            .viewButton,
            .deleteButton,
            .cellWithStatus {
                // color: gray;
                // border: none;
            }
        }

        .MuiDataGrid-footerContainer {

            .MuiTablePagination-selectLabel,
            .MuiTablePagination-displayedRows,
            .MuiTablePagination-select,
            .MuiIconButton-root,
            .MuiSvgIcon-root {
                margin: 0px;
                color: gray;
                border: none;
            }
        }
        .MuiDataGrid-withBorderColor{
            border:1px solid rgba(224, 224, 224,0.2) !important;
        
          }
    }

    input {
        background-color: transparent;
    }
    .userShowTitle{
        color: rgb(228, 220, 220);
    }
    .userTitleContainer{
        color: white;
    }

    .userContainer{
        color: white;
        .userShow{
            

            .userShowInfo{
                color: rgb(230, 224, 224);
            }
        }
    }
}