.navbar {
    height: 50px;
    border-bottom: 0.5px solid rgb(231, 228, 228);
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;

    .wrapper {
        width: 100%;
        padding: 0px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .search {
            display: flex;
            align-items: center;
            border: 0.9px solid rgb(215, 209, 209);
            border-radius: 8px;
            padding: 3px;


            input {
                border: none;
                outline: none;
                background-color: transparent;

                &::placeholder {
                    font-size: 12px;

                }
            }
        }

        .items {

            display: flex;
            align-items: center;
            position: relative;


            .item {
                display: flex;
                align-items: center;
                margin-left: 20px;
                position: relative;
                // background-color: yellow;
                transition: all 3s ease;

                &:hover .dropDown {
                    display: block;
                }


                .icon {
                    font-size: 21px;
                    cursor: pointer;
                }

                img {
                    cursor: pointer;
                }

                .bg-infoo {

                    .btn {
                        padding: 0px;
                        border-radius: 50%;
                        
                    }

                    ul {
                        margin-top: 5px;
                        padding: 0px;
                        border-radius: 5%;
                        border: 1px solid rgba(0, 206, 209, 0.474);
                        // border: none;
                        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
                        -webKit-box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);

                        li {
                            margin: 5px 0px;

                            a {
                                color: rgb(0, 0, 0);
                                padding: 10px 50px;
                                cursor: pointer;

                                &:active{
                                    color: red;
                                    background-color: transparent !important;
                                }
                            }
                        }
                    }
                }

            }

            .avatar {
                width: 35px;
                height: 35px;
                border-radius: 50%;
            }

            .counter {
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background-color: red;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 10px;
                font-weight: bold;
                position: absolute;
                top: -5px;
                right: -5px;

            }

        }
    }

}