.sidebar {
    // background-color: orange;
    flex: 1;
    border-right: 0.5px solid lightgray;
    min-height: 100vh;
    background-color: white;
    // position: fixed;

    .top {
        // background-color: aqua;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        .logo {
            font-size: 20px;
            font-weight: bold;
            color: blue;


        }
    }

    hr {
        height: 0;
        // border: 0.5px solid rgb(42, 40, 40);
        margin: 0;
    }

    .center {
        padding-left: 10px;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                // background-color: red;
                display: flex;
                align-items: center;
                padding: 5px;
                cursor: pointer;

                &:hover {
                    background-color: #e4dffe;
                }

                .icon {
                    font-size: 18px;
                    color: #7451f8;
                }

                span {
                    margin-left: 10px;
                    font-size: 13px;
                    font-weight: 600;
                    color: #888;
                }
            }

            .title {
                font-size: 10px;
                font-weight: bold;
                color: #999;
                margin-bottom: 5px;
                margin-top: 15px;
            }

        }
    }

    .bottom {
        display: flex;
        align-items: center;
        margin: 10px;

        .colorOption {
            height: 20px;
            width: 20px;
            border-radius: 5px;
            border: 1px solid #7451f8;
            margin: 5px;
            cursor: pointer;
            
            &:nth-child(1){
                background-color: whitesmoke;
            }
            &:nth-child(2){
                background-color: #333;
            }
           

        }
    }
}