
.table{
    // border: 3px solid red;
    // border-bottom: 1px solid red;
    
    .cellWrapper{
        
        display: flex;
        align-items: center;

        .image{
            width: 32px;
            height: 32px;
            border-radius: 50%;
            margin-right: 10px;
            object-fit: cover;
        }
    }
    .status{
        padding: 5px;
        border-radius: 5px;

        &.Approved{
            padding: 5px;
            color: green;
            background-color: rgba(0, 128, 0, 0.151);
        }
        &.Pending{
            padding: 5px 10px;
            color: goldenrod;
            background-color:rgba(189, 189, 3, 0.21);
        }
    }
}
